.filters__container {
  top: 100px;
  bottom: 50%;
  width: 300px;
  right: -300px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
